
$line-color:#00FFE0;
$scroll-bg-color:#B2E6DD;
$bg-color:#1E1E1E;
$product-bg-color:#00AC8F;
.page_17 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    .top-bar {
        height: 130px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px $line-color;
        .logo {
            width: 100px;
            height: 111px;
            margin-left: 50px;
            background: url('/page-17/nike.png');
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .icon-search{
                background: url('/search-icon.svg');
                width: 24px;
                height: 24px;
                padding:4px;
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                left: 4px;
            }
            input {
                border:solid 1px $line-color;
                background-color: white;
                width: 650px;
                height: 30px;
                border-radius: 8px;
                padding-left: 32px;
                color:white;
            }
        }

        .right-circle {
            width: 60px;
            height: 60px;
            margin-top: 36px;
            margin-right: 46px;
            background: url('/save.svg') no-repeat center center;
        }

        
    }

    .main{
        
        .left-nav{
            background-color: rgba(178, 230, 221, 1);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 98px;
            position: absolute;
            top: 190px;
            bottom:0;
            
            
            .nav-img {
                left: 24px;
                top: 20px;
                width: 126px;
                height: 814px;
                position: absolute;
                background: url('/page-17/left-nav.png') no-repeat;
                background-size: 98%;
            }
        }

        .shoes-detail{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }

        .tools{
            position: absolute;
            bottom: 16px;
            left:50%;
            transform: translateX(-50%);
        }
    }

    

}
