@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-black{
    background-color: rgba(0, 0, 0, 1);
}

.is-hide {
    display: none !important;
}

body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
}


