$line-color:#00FFE0;
$scroll-bg-color:#B2E6DD;
$bg-color:#1E1E1E;
$product-bg-color:#00AC8F;

.home {
    height: 100vh;
    .top-bar {
        height: 130px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px $line-color;

        .brand-word {
            width: 182px;
            display: flex;
            align-items: center;
            justify-content: center;
            color:white;
            font-weight: 700;
            font-size: 24px;
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-search{
                background: url('/search-icon.svg');
                width: 24px;
                height: 24px;
                padding:4px;
                background-repeat: no-repeat;
                background-position: center center;
                // position: absolute;
                position: absolute;
                left: calc(50% - 300px);
            }
            input {
                border:solid 1px $line-color;
                background-color: $bg-color;
                width: 650px;
                height: 30px;
                border-radius: 8px;
                padding-left: 32px;
                color:white;
            }
        }

        .logo {
            width: 100px;
            height: 111px;
            margin-right: 40px;
            background: url('/nike-logo.svg');
        }
    }

    .line-vertical {
        display: block;
        position: absolute;
        top:0;
        left:182px;
        height: 100vh;
        border-right: 1px solid $line-color;
    }
    .line-vertical-2 {
        display: block;
        position: absolute;
        top:0;
        right:280px;
        height: 100vh;
        border-right: 1px solid $line-color;
    }

    .main{
        // .left-nav-wrapper{
        //     border-right: 1px solid $line-color;
        //     width: 182px;
        //     height: calc(100vh - 130px);
        //     position: absolute;
        // }
        .left-nav{
            
            position:absolute;
            width: 74px;
            border:solid 1px $line-color;
            border-radius: 4px;
            left:20px;
            top:285px;
            height: 652px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .nav-item{
                height: 33.33%;
                width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 4px 0;
                position: relative;
                border-radius: 3px;
                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    background-color: $product-bg-color;
                    width: 80%;
                    position: absolute;
                    top:calc(100% + 2px);
                }
                &:last-child::after{
                    display: none;
                }
                &.active{
                    background-color: $product-bg-color;
                }
                .icon {
                    width: 50px;
                    height: 50px;
                }
                .shoes {
                    background: url('/shoes.svg') no-repeat center;
                }
                .calendar {
                    background: url('/calendar.svg') no-repeat center;
                }
                .star {
                    background: url('/star.svg') no-repeat center;
                }
            }
        }

        .product-main {
            margin-top:56px;
            margin-left:182px;
            width: calc(100% - 182px);
            height:750px;
            display:flex;
            justify-content: flex-end;

            flex-direction: column;

            .product-list-wrapper {
                margin-top: 108px;
                height: 157px;
                border-radius: 100px 10px 10px 50px;
                background-color: $scroll-bg-color;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    width:100%;
                    position: absolute;
                    top:100%;
                    left:-88px;
                    height: 1px;
                    background-color: $line-color;
                }
                .product-list-scroll-box{
                    height: 202px;
                    position: absolute;
                    left:72px;
                    bottom: 64px;
                    width: calc(100% -  72px);
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
                .product-list {
                    height: 100%;
                    width: max-content;
                    display: flex;
                    align-items: end;

                    .product-item {
                        margin-right: 16px;
                        display: inline-block;
                        img{
                            max-height: 202px;
                        }
                    }
                }

                .product-name {
                    font-size: 24px;
                    font-weight: 700;
                    color: #000;
                    position: absolute;
                    left:48px;
                    bottom: 24px;
                }
            }
        }


        .search-section {
            color:white;
            margin-left: 182px;
            width: calc(100% - 182px);
            display: flex;
            height:750px;
            .search-content {
                width:900px;
                .search-block {
                    height: 268px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        width:calc(100% + 92px);
                        position: absolute;
                        top:100%;
                        left:-88px;
                        height: 1px;
                        background-color: $line-color;
                    }
                    .search-block-title{
                        padding:24px;
                        font-weight: 700;
                        font-size: 24px;
                    }
                    .search-label-list {
                        padding-left: 64px;
                        padding-right: 128px;
                        
                        span {
                            padding: 4px;
                            margin-left: 4px;
                            margin-bottom: 16px;
                            display: inline-block;
                            border-radius: 5px;
                            background: rgba(0, 172, 143, 0.3);
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 18px;

                            &.light {
                                font-size:24px;
                                line-height:30px;
                            }
                        }
                    }
                }
            }
            .search-right {
                position: absolute;
                height: calc(100% - 130px);
                width: 280px;
                right: 0;
                top:130px;
                display: flex;
                flex-direction: column;
                background: url('/right-bg.png') no-repeat right;
            }
        }
    }
}