$line-color:#00FFE0;

.page_27 {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;

    .line-vertical-1 {
        height: 100vh;
        width: 1px;
        left: 147px;
        top:0;
        position: absolute;
        background-color: $line-color;
        z-index: 10;
    }
    .line-vertical-2 {
        height: 100vh;
        width: 1px;
        left: 1278px;
        top:0;
        position: absolute;
        background-color: $line-color;
        z-index: 10;
    }
    .line-horizontal-1{
        width: 100vw;
        height: 1px;
        position: absolute;
        top: 198px;
        background-color: $line-color;
        z-index: 10;
    }
    .line-horizontal-2{
        width: 100vw;
        height: 1px;
        position: absolute;
        top: 571px;
        background-color: $line-color;
        z-index: 10;
    }
    .line-horizontal-3{
        width: 100vw;
        height: 1px;
        position: absolute;
        top: 916px;
        background-color: $line-color;
        z-index: 10;
    }
    .logo {
        background: url('/nike-logo.png') no-repeat;
        width: 100px;
        height: 100px;
        margin-left:24px;
    }

    .title{
        font-weight: 700;
        font-size: 24px;
        top:116px;
        left:539px;
        position: absolute;
        z-index: 1;
    }
    .shoes{
        .text {
            font-weight: 700;
            font-size: 24px;
            position: absolute;
            top: 64px;
            left:240px;
            width: 374px;
        }
        // background: url('/page-27/shoes.png') no-repeat;
        height:  620px; 
        width: 700px;
        position: absolute;
        top:0;
        left:626px;
        img {
            width: 100%;
        }
    }
    .shoes-detail {
        position: absolute;
        top:216px;
        left:170px;
        width: 248px;
    }
    .right-bg{
        background: rgba(178, 230, 221, 1);
        width: 80px;
        height: 629px;
        right:0;
        top:0;
        position: absolute;
        border-bottom-left-radius: 80px;
    }

    .footer{
        bottom: 100px;
        left:144px;
        height: 230px;
        width: 1138px;
        position: absolute;
    }
}
